@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "sphare_dark";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(30% 0.045 245);
    --color-base-200: oklch(22% 0.045 245);
    --color-base-300: oklch(0 0 0);
    --color-base-content: oklch(1 0 0);
    --color-primary: oklch(66% 0.15 240);
    --color-primary-content: oklch(1 0 0);
    --color-secondary: oklch(52.5% 0.14 150);
    --color-secondary-content: oklch(1 0 0);
    --color-accent: oklch(77% 0.152 181.912);
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: oklch(0% 0 0);
    --color-neutral-content: oklch(1 0 0);
    --color-info: oklch(75.69% 0.1267 254.91);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(72.27% 0.192 149.58);
    --color-success-content: oklch(0 0 0);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(52% 0.245 27.325);
    --color-error-content: oklch(1 0 0);
    --radius-selector: 0rem;
    --radius-field: 0rem;
    --radius-box: 0.25rem;
    --size-selector: 0.25rem;
    --size-field: 0.28125rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@theme {
    --breakpoint-3xl: 112rem;
    --breakpoint-4xl: 128rem;
    --breakpoint-5xl: 144rem;

    --spacing-input-lg: 2.8125rem;
    --spacing-124: 31rem;
    --spacing-128: 32rem;
    --spacing-160: 40rem;

    --color-primary-hover: oklch(46% 0.15 240);
    --color-secondary-hover: oklch(32.5% 0.14 150);
    --color-error-hover: oklch(32% 0.245 27.325);
    --color-disabled: oklch(0.475 0.015 245);
    --color-disabled-content: oklch(0.7 0.015 245);
}

@layer components {
    .button-ghost {
        @apply
            p-1 lg:p-2
            rounded-xs
            text-sm
            cursor-pointer
            hover:bg-base-content/20
            active:scale-95
            disabled:bg-disabled disabled:text-disabled-content disabled:cursor-not-allowed disabled:active:scale-100
            transform transition duration-250;
    }

    .button-ghost-sm {
        @apply
            p-1
            rounded-xs
            text-sm
            cursor-pointer
            hover:bg-base-content/20
            active:scale-95
            disabled:bg-disabled disabled:text-disabled-content disabled:cursor-not-allowed disabled:active:scale-100
            transform transition duration-250;
    }

    .button-neutral {
        @apply
        p-1 lg:p-2
        rounded-xs
        bg-base-content/10
        shadow-md/30
        text-sm
        cursor-pointer
        hover:bg-base-content/20 hover:shadow-none
        active:scale-95
        disabled:bg-disabled disabled:text-disabled-content
        disabled:cursor-not-allowed disabled:active:scale-100 disabled:shadow-none
        transform transition duration-250;
    }

    .button-primary {
        @apply
            p-1 lg:p-2
            rounded-xs
            bg-primary
            shadow-md/30
            text-sm
            cursor-pointer
            hover:bg-primary-hover hover:shadow-none
            active:scale-95
            disabled:bg-disabled disabled:text-disabled-content
            disabled:cursor-not-allowed disabled:active:scale-100 disabled:shadow-none
            transform transition duration-250;
    }

    .button-secondary {
        @apply
            p-1 lg:p-2
            rounded-xs
            bg-secondary
            shadow-md/30
            text-sm
            cursor-pointer
            hover:bg-secondary-hover hover:shadow-none
            active:scale-95
            disabled:bg-disabled disabled:text-disabled-content
            disabled:cursor-not-allowed disabled:active:scale-100 disabled:shadow-none
            transform transition duration-250;
    }

    .button-error {
        @apply
            p-1 lg:p-2
            rounded-xs
            bg-error
            shadow-md/30
            text-sm
            cursor-pointer
            hover:bg-error-hover hover:shadow-none
            active:scale-95
            disabled:bg-disabled disabled:text-disabled-content
            disabled:cursor-not-allowed disabled:active:scale-100 disabled:shadow-none
            transform transition duration-250;
    }

    .button-rounded-ghost {
        @apply
            p-1 lg:p-2
            rounded-full
            text-sm
            cursor-pointer
            hover:bg-base-content/20 hover:shadow-none
            active:scale-95
            disabled:bg-disabled disabled:text-disabled-content
            disabled:cursor-not-allowed disabled:active:scale-100 disabled:shadow-none
            transform transition duration-250;
    }

    .button-rounded-neutral {
        @apply
            p-2
            rounded-full
            bg-base-content/10
            shadow-md/30
            text-sm
            cursor-pointer
            hover:bg-base-content/20 hover:shadow-none
            active:scale-95
            disabled:bg-disabled disabled:text-disabled-content
            disabled:cursor-not-allowed disabled:active:scale-100 disabled:shadow-none
            transform transition duration-250;
    }

    .button-rounded-primary {
        @apply
            p-2
            rounded-full
            bg-primary
            shadow-md/30
            text-sm
            cursor-pointer
            hover:bg-primary-hover hover:shadow-none
            active:scale-95
            disabled:bg-disabled disabled:text-disabled-content
            disabled:cursor-not-allowed disabled:active:scale-100 disabled:shadow-none
            transform transition duration-250;
    }

    .button-rounded-error {
        @apply
            p-2
            rounded-full
            bg-error
            shadow-md/30
            text-sm
            cursor-pointer
            hover:bg-error-hover hover:shadow-none
            active:scale-95
            disabled:bg-disabled disabled:text-disabled-content
            disabled:cursor-not-allowed disabled:active:scale-100 disabled:shadow-none
            transform transition duration-250;
    }

    .button-navbar-activated {
        @apply
            p-1 lg:p-2
            rounded-full
            bg-base-100
            shadow-md/30
            text-sm
            cursor-pointer
            hover:bg-base-content/20
            active:scale-95
            disabled:bg-disabled disabled:text-disabled-content disabled:cursor-not-allowed disabled:active:scale-100
            transform transition duration-250;
    }

    .navbar-icon-size {
        @apply h-6 w-6 lg:h-7 lg:w-7;
    }

    .filter-icon-size {
        @apply h-5 w-5 lg:h-7 lg:w-7;
    }

    .sphere-toolbar-icon-size {
        @apply h-5 w-5 lg:h-6 lg:w-6;
    }

    .content-toolbar-icon-size {
        @apply h-4 w-4 lg:h-5 lg:w-5;
    }

    .editor-button-size {
        @apply h-4 w-4;
    }

    .loading-icon-size {
        @apply h-5 w-5 lg:h-7 lg:w-7 my-2 lg:my-5;
    }

    .link-icon-size {
        @apply h-4 w-4 lg:h-5 lg:w-5;
    }
    .left_sidebar_base_class {
        @apply
            flex flex-col justify-between gap-1
            shrink-0 w-60 lg:w-56 xl:w-65 2xl:w-80 4xl:w-100 h-full
            overflow-y-auto
            p-1 2xl:p-2
            max-lg:bg-base-300 max-lg:absolute max-lg:z-100 max-lg:top-0 max-lg:left-0;
    }

    .right_sidebar_base_class {
        @apply
            flex flex-col justify-start gap-2
            shrink-0 w-60 lg:w-56 xl:w-65 2xl:w-80 4xl:w-100 h-full
            overflow-y-auto
            px-3 py-2
            max-lg:bg-base-300 max-lg:absolute max-lg:z-100 max-lg:top-0 max-lg:right-0;
    }

    .input_outline_primary {
        @apply
            outline outline-primary outline-1 focus-within:outline-3
    }

    .input_outline_error {
        @apply
            outline outline-error outline-1 focus-within:outline-3
    }

    .input_border_primary {
        @apply
            rounded-none border border-1 border-primary
            outline outline-offset-0 outline-primary outline-0 focus-within:outline-2
    }

    .input_border_error {
        @apply
            rounded-none border border-1 border-error
            outline outline-offset-0 outline-error outline-0 focus-within:outline-2
    }

    .input_primary {
        @apply
            p-2 py-3 lg:p-3 text-sm rounded-none border border-1 border-primary
            outline outline-offset-0 outline-primary outline-0 focus-within:outline-2
    }

    .input_error {
        @apply
            p-2 py-3 lg:p-3 text-sm rounded-none border border-1 border-error
            outline outline-offset-0 outline-error outline-0 focus-within:outline-2
    }

    .select_input {
        @apply
            p-3 text-sm rounded-none border border-1 border-primary
            outline outline-offset-0 outline-primary outline-0 focus-within:outline-2 bg-base-100 appearance-none
            bg-[url('/svg/arrow_down.svg')] bg-[length:12px_12px] bg-no-repeat bg-position-[center_right_1rem] pr-8
    }

    .notif_counter {
        @apply
            absolute z-10 -top-1 left-4 lg:left-5 p-0.5 lg:p-1 px-1.5 lg:px-2 w-fit bg-base-200 rounded-full text-xs select-none
    }
}

/* Styles for the spoiler blocks */S
.spoiler-checkbox {
}

.spoiler-text {
}

.spoiler-checkbox:checked + .spoiler-text {
    background-color: black;
}

/* class to remove spinner from number inputs */
/* Chromium */
input[type="number"].no-spinner::-webkit-outer-spin-button,
input[type="number"].no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"].no-spinner {
    -moz-appearance: textfield;
}

/* For Firefox */
/* Scrollbar */
* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #0a212e;
}

/* Scrollbar for webkit-based browsers (Safari) */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0a212e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

/* remove textarea scrollbar as we autoscale them */
textarea {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

textarea::-webkit-scrollbar {
    display: none;
}